version: '3.8'

services:
  monitorx:
    build: https://github.com/TRUYNES/liquid-monitor.git#main
    container_name: monitorx
    restart: unless-stopped
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    environment:
      - PROCFS_PATH=${PROCFS_PATH:-/host/proc}
      - SYSFS_PATH=${SYSFS_PATH:-/host/sys}
      - MONITOR_USER=${MONITOR_USER:-admin}
      - MONITOR_PASS=${MONITOR_PASS:-admin}
    network_mode: host
    pid: host
    command: uvicorn app.main:app --host 0.0.0.0 --port 9876
    privileged: true
